/* LogWorkout.css */

.log-workout-container {
    background-color: #000;
    color: #fff;
    padding: 20px;
    width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.log-workout-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.workout-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workout-form label {
    margin-bottom: 5px;
}

.workout-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.workout-form input:focus {
    outline: none;
    background-color: #444;
}

.workout-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

.workout-form button[type="submit"]:hover {
    background-color: #444;
}

.workout-list {
    margin-top: 20px;
}

.workout-list h3 {
    margin-bottom: 10px;
}

.workout-list ul {
    list-style: none;
    padding: 0;
}

.workout-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
}

.workout-list li strong {
    font-size: 18px;
}

.workout-list li:hover {
    background-color: #444;
}